.amount input {
    width: 150px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
    color: white;
    background: transparent;
    border-radius: 50px;
    border: 0;
    background: var(--gradient);
}

.error {
    font-size: 15px;
    color: red;
    transition: opacity 0.5s ease;
    position: absolute
}