.amount input {
    width: 150px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
}

.error {
    font-size: 15px;
    color: red;
    transition: opacity 0.5s ease;
    position: absolute
}