body {
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    display: inline-block;
    margin:0;
    margin-right: 42px;
}
button {
    margin:0;
    padding: 10px 10px;
    display: inline-block;
    vertical-align:top;
}